### Maven ###
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Application Files ###
uploads/

### Python ###
ai-service/venv/
ai-service/__pycache__/
*.py[cod]

### YOLO ###
ai-service/models/*.pt
ai-service/training-runs/
ai-service/prediction-runs/
ai-service/yolo11n.pt

### Dataset ###
ai-service/datasets/

### Test Images ###
ai-service/test-images/